.container{
    background-color: rgb(11, 82, 112);
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 5px;
    
}
.left{
    width: 32%;
}

.mid{
    width: 32%;
    margin-left: 2rem;
    color: white;
    text-align: left;
}
.right{
    width: 32%;
    
}
.btns{
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
}
.btn-items{
    margin-bottom: 0;
}
.btns>button{
    justify-content: space-between;
    text-align: left;
    margin-top: 5px;
    border-radius: 2px;
    background-color: rgba(250, 239, 239, 0.93);
}

img{
   
}